*{
    box-sizing: border-box;
}

body{
    font: normal normal 1em/1.6em Arial, Helvetica, sans-serif;
    background:#b8ecfd url("../images/hello.png") no-repeat bottom;
    background-size: contain;
    height: 100vh;
}

@media only screen and (max-width: 768px) {
/*     For mobile phones: */
    body{
        height: auto;
        background-image: none;
    }
}

.container{
    width: 980px;
    margin:  0 auto;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .container{
        width: auto;
        height: auto;
    }
}

/*
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
*/

.row::after {
    content: "";
    clear: both;
    display: block;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

@media only screen and (min-width: 1024px) {
    /* For irregular: */
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%; margin-bottom: 10px}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%; margin-bottom: 10px}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}




/*Nav starts here------------------------------------------*/


nav{
    background-color: #b8ecfd;
    display: block;
    border-bottom: 1px solid #FC626B;
    height: 75px;
}


nav h1{
    display: block;
    height: 75px;
    font-size: 1.9em;
    text-align: center;
    padding-top: 25px;
    color: #FC626B;
    float: left;
    background: url("../images/cross.png") padding-box no-repeat left; 
    background-size: 30px;
    border-bottom: 4px solid #FC626B;
}

nav ul{
    float: right;
    padding: 20px;
}



nav ul li{
    display: inline;
    padding: 0 20px 0 20px;
    border-right: 1px solid #FC626B;
    height: 20px;
}

nav ul li a{
    color: #FC626B;
    text-decoration: none;
}

#last{
    border: 0;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    nav{
        height: auto;
    }
    nav h1{
        border-bottom: 0px;
        background-position: 20px;
    }
    nav ul{
        text-align: center;
    }
}

/*Section starts here------------------------------------------*/

section{
    margin-top: 40px;
}

.main{
    border: 5px solid #FC626B;
    padding: 20px;
    display: inline-block;
}

h2{
    font-size: 1.8em;
    line-height: 1.2em;
    color: #FC626B;
    display: block;
    border-bottom: 2px solid #FC626B;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

section p{
    margin-bottom: 20px;
    color: #FC626B; 
}

section img{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    section img{
        max-height: auto;
        max-width: 263px;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    section img{
        max-width: 200px;
        margin-right: 20px;
        float: none;
    }
}

/*Sidebar starts here------------------------------------------*/

aside{
    float: right;
}

aside a{
    float: left;
    width: 33.3%;
    height: 50px;
    display: block;
}

.github{
    background: url("../images/github_icon.png") padding-box no-repeat center; background-size: contain;
}

.linkedin{
    background: url("../images/linkedin_icon9.png") padding-box no-repeat center; background-size: contain;
}

.stack{
    background: url("../images/stackoverflow_icon.png") padding-box no-repeat center; background-size: contain;
}

aside h3{
    font-size: 1.2em;
    color: #FC626B;
    display: block;
    border-bottom: 1px solid #FC626B;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    aside{
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

/*Form starts here------------------------------------------*/

label{
    color: #FC626B;
}

input{
    width: 98%;
    height: 30px;
    border: 0;
    border-bottom: 1px solid #FC626B;
    background: none;
    margin-bottom: 20px;
    color: #FC626B; 
    font-size: 0.8em;
    padding-left: 1%;
}

textarea{
    width: 96%;
    background: none;
    border: 1px solid #FC626B;
    margin-top: 10px;
    color: #FC626B;
    font-size: 0.8em;
    padding: 2%;
    resize: none;
}

input[type=submit]{
    background-color: #FC626B;
    width: 30%;
    height: 40px;
    margin-top: 30px;
    text-align: center;
    color: #b8ecfd;
}

input:focus {
    background-color: #FC626B;
    color: #b8ecfd;
}

/*Gallery starts here------------------------------------------*/

.tiles{
    width: 100%;
/*    background-color: #FC626B;*/
    height: 21vh;
    margin-top: 20px;
    position: relative;
    float: left;
    display: inline;
}

.titles, .print{
    background: url("../images/print.jpg") padding-box no-repeat center; 
    background-size: cover;
}

.titles, .web{
    background: url("../images/web.jpg") padding-box no-repeat top; 
    background-size: cover;
}

.titles, .illustration{
    background: #FC626B url("../images/illustrations.png") padding-box no-repeat center; 
    background-size: cover;
}

.titles, .pack{
    background: #FC626B url("../images/packaging.jpg") padding-box no-repeat bottom; 
    background-size: cover;
}

.col-l{
    width: 49%;
    float: left;
    padding-right: 1%;
}

.col-r{
    width: 49%;
    float: right;
    padding-left: 1%;
}

.tiles h3{
    text-align: center;
    display: block;
    background-color: #FC626B;
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding: 10px 0 10px 0;
}

.tiles h3 a{
    color: #b8ecfd; 
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .col-l, .col-r{
        width: 100%;
    }
}


/*Footer starts here------------------------------------------*/

footer{
    width: 100%;
    background-color: #FC626B;
    position: absolute;
    bottom: 0px;
    height: 70px;
    border-top: 5px solid #e0adb9;
}

footer p{
    color: #b8ecfd;
    font-size: 0.8em;
    display: block;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    footer{
        position: relative;
    }
}